<%- include('../partials/header') %>

<h1> MY PROJECTS/ Projects</h1>
<br>

<div>
  <table>
    <thead>
      <tr>
        <title>myProject</title>
      </tr>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Priority</th>
      </tr>
    </thead>
    <tbody>
    <% projects.forEach(function(p) { %>
      <% if (p.usersAssigned.includes(user._id)) { %>         
            <tr>
              <td> <a href="/projects/<%= p._id %>"> <%= p.title %></a> </td>
              <td><%= p.type %></td>
              <td><%= p.priority %> </td>

            </tr>
        <% }  %>
    <% }); %>
    </tbody>
  </table>
</div>
<div>
  <table>
    <thead>
      <tr>
        <title>myRocks</title>
      </tr>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Difficulty</th>
        <th>userId / user._id</th>
        
      </tr>
    </thead>
    <tbody>
    <% rocks.forEach(function(rock) { %>
      <% if (user && user._id.equals(rock.userId)) { %>      
            <tr>
              <td><%= rock.title %></td>
              <td><%= rock.category %></td>
              <td><%= rock.priority %></td>
              <td><%= rock.difficulty %></td>
              <td><%= rock.userId %> <br> </td>
            </tr>
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
            
            <tr>
              <td></td><td></td><td></td><td>user._id</td>
              <td><%= user._id %> </td>
            </tr>
            <tr><td></td><td></td><td></td><td></td><td></td></tr>
            
        <% }  %>
    <% }); %>
    </tbody>
  </table>

</div>





<%- include('../partials/footer') %>