<%- include('../partials/header') %>

<h1> MY PROJECTS/ Projects</h1>
<br>


<table>
  <thead>
    <tr>
      <title>Project</title>d
    </tr>
    <tr>
      <th>Project</th>
      <th>Type</th>
      <th>Priority</th>
    </tr>
  </thead>
  <tbody>
  <% projects.forEach(function(p) { %>
    <% if (p.usersAssigned.includes(user._id)) { %>         
          <tr>
            <td> <a href="/projects/<%= p._id %>"> <%= p.title %></a> </td>
            <td><%= p.type %></td>
            <td><%= p.priority %> </td>
          </tr>
      <% }  %>
  <% }); %>
  </tbody>
</table>




<%- include('../partials/footer') %>