<%- include('../partials/header') %>



  <% projects.forEach(function(project) { %>
  <div class="card">
    <div class="card-body">
      <div class="card-header">
        <a href="/projects/<%= project._id %>/edit" class="btn btn-secondary">Edit</a>
        <a href="/projects/<%= project._id %>" class="btn btn-primary"> Details</a>
          Priority: <%= project.priority %>

      </div>
      <div class="card-body">
        <h2 class="card-title text-center"><%= project.title %> </h2>
        <h6 class="card-text text-center">
          <%= project.description %> 
        </h6>
        
        <ul class="list-group">
          <li class="list-group-item">Manager: <%= project.projectManager.name %> </li>
          <li class="list-group-item">userCreated: <%= project.userCreated.name %> </li>
          <li class="list-group-item">type: <%= project.type %> </li>
          <li class="list-group-item">Team:
            <ul class="listgroup">
              <% project.usersAssigned.forEach(function(user) { %> 
                <li class="list-group-item"> <%= user.name %> - <%= user.email %> </li>
    
              <% }) %> 
            </ul>
          </li>


        <div class="row row-cols-3 row-cols-md-3 g-4">
          <% project.rocks.forEach(function(rock) { %>
            <% if (project._id.equals(rock.projectId)) { %>    
              <div class="col">Rock:
    
                <div class="card h-90 text-center">
                  <div class="card-header">
                    <h4 class="card-title"><%= rock.title %></h4>
                  </div>
                  <div class="card-body">
                    <p class="card-text"><%= rock.description %> </p>
                    
                  </div>
                  <div class="card-footer">
                      <img alt="avatar" src="<%= rock.userAvatar %>" referrerpolicy="no-referrer">
                      <h6 class="card-text"> <%= rock.userName %> </h6>
                  </div>

                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Category: <%= rock.category %> </li>
                    <li class="list-group-item">Priority: <%= rock.priority %> </li>
                    <li class="list-group-item">Diffuculty: <%= rock.difficulty %> </li>
                    
   
                    <li class="list-group-item">
                      <p class="list-text">Note: <%= rock.userNote %> </p>
                    </li>
                  </ul>
                  <div class="card-">
                    <p class="card-text">Assigned to <%= rock.userName %> </p>
                  </div>
                </div>
              </div>
                  <!--  END OF ROCKScard -->
            <% }  %>
          <% }); %> 
          <!--END OF ROCKS for each -->
          </div>
        </div> 
        <div class="card-footer">
          <% if (project.userCreated.equals(user._id)) {%> 
              
            <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
            
          <% } %> 
          
          <form id = "add-review-form" action="/projects/<%= project.id %>"
              method="POST">
              <button type="submit">Assign</button>
          </form>  
  
        </div>
      </div>
    <div>
      <br>
    <% }) %> 
 










<%- include('../partials/footer') %>