<%- include('../partials/header') %>

<h1> MY PROJECTS/ Projects</h1>
List ALL projects - users logged in


<% if (projects.length) { %>
    <table>
      <thead>
        <tr>
          <th>Created</th>
          <th>title</th>
          <th>type</th>
          <th>priority</th>
        </tr>
      </thead>
      <tbody>
          <% projects.forEach(function(p) { %>
              <tr>
                <td><%= p.createdAt.toLocaleDateString() %> </td>
                <td><%= p.title %></td>
                <td><%= p.type %></td>
                <td><%= p.priority %> </td>

              </tr>
              <% }); %>

      </tbody>
    </table>
    <% } else { %>
      <h5>No Projects Assigned!</h5>
      <% } %>




<%- include('../partials/footer') %>