<%- include('../partials/header') %>

<h1> MY PROJECTS/ Projects</h1>
<br>



<% projects.forEach(function(p) { %>
  <% if (p.usersAssigned.includes(user._id)) { %>
      <table>
        <thead>
          <tr>
            <th>Created</th>
            <th>title</th>
            <th>type</th>
            <th>priority</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td><%= p.createdAt.toLocaleDateString() %> </td>
            <td><%= p.title %></td>
            <td><%= p.type %></td>
            <td><%= p.priority %> </td>
          </tr>
 
        </tbody>
    </table>
    <% }  %>

<% }); %>




<%- include('../partials/footer') %>