<%- include('../partials/header') %>

<h1><%= project.title %> </h1>


<section id="show-page">
  <div>
    <small>Creator: 
    <%= project.userCreated.name %> 
      </small>
  <div>Type: 
    <%= project.priority %>
  </div>
<table>
  <thead>
    <tr>
      <title> <%= project.title %> </title>
    </tr>
    <tr>
      <th> </th>
    </tr>
  </thead>
</table>
  <div>Team:
  <ul>
    <% project.usersAssigned.forEach(user=> { %>
      <li> 
        <small><%= user.name %> </small>
      </li>
      <% }) %>
  </ul>
  </div>
  <div>Rocks:
  <ul>
    <% rocks.forEach(r=> { %>
      <li>
        <small><%= r.title %> </small>
      </li>
      <% }) %>
  </ul>
  </div>

</section>
<section>
  <h3>Add Rock</h3>
  <form id="add-review-form" method="POST"
  action="/projects/<%= project._id %>/rocks">
    <label>Title:</label>
      <input type="text" name="title">
      <br>
    <label>Description:</label>
      <textarea name="description"></textarea>
      <br>
    <label>Category:</label>
      <select name="category" id="">
        <option value="Personal">Personal</option>
        <option value="Project">Project</option>
        <option value="Private">Private</option>
      </select>
      <br>
    <label>Priority:</label>
      <select name="piority" id="">
        <option value="High">High</option>
        <option value="Moderate">Moderate</option>
        <option value="Low">Low</option>
      </select>
      <br>
    <label>Difficulty</label>
      <input type="Number" name="difficulty">
  <br>
    <label>AsignUser-dropdown of allusers:</label>
      <select name="userId">
        <option></option>
      </select>
    <label>
      <br>
    <input type="submit" value="Add">
  </label>
  
</form>
</section>


<%- include('../partials/footer') %>