<%- include('../partials/header') %>


<section id="show-page">
  <%= project.title %>
  <small>Creator: <%= project.userCreated.name %> </small>
  <small>Type: <%= project.priority %></small>
  <a href="/projects/<%= project._id %>/edit">edit</a>

  <div>Team:
    <ul>
      <% project.usersAssigned.forEach(user=> { %>
        <li> 
          <small><%= user.name %> </small>
        </li>
      
        <% }) %>
    </ul>
  </div>
 ==============================================================================  
 ==============================================================================  

  <!-- END OF TEAM USERS ASSIGNED LIST -->
  <div>Rocks:
    <% rocks.forEach(r=> { %>
      <table>
        <thead>
          <tr><th><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"></th></tr>
          <tr><th><small> <%= r.userName %>'s rock</small></th></tr>
          <tr>
            <th>Title: </th>
            <th> Description</th>
            <th> Priority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= r.title %> </td>
            <td> <%= r.description %> </td>
            <td> <%= r. priority %> </td>
          </tr>
        </tbody>
        <% if (user && user._id.equals(r.userId)) { %>
          <tfoot>
            <tr>
              <td>
                <form action="/rocks/<%= r.id %>?_method=DELETE" method="POST">
                  <button type="submit">DELETE</button>
                </form>
              </td>
              <td>
                <a href="/rocks/<%= r.id %>/edit">edit</a>
              </td>
            </tr>
          </tfoot>
        <% } %> 
    </table>
    <% }) %>
  </div>
  <!-- END OF ROCKS LIST -->
</section>
==============================================================================  
==============================================================================  
<!-- END OF SHOW-PAGE SECTION -->
<section>
  <h3>Add Rock</h3>
  <form id="add-review-form" method="POST"
  action="/projects/<%= project._id %>/rocks">
    <label>Title:</label>
      <input type="text" name="title">
      <br>
    <label>Description:</label>
      <textarea name="description"></textarea>
      <br>
    <label>Category:</label>
      <select name="category" id="">
        <option value="Personal">Personal</option>
        <option value="Project">Project</option>
        <option value="Private">Private</option>
      </select>
      <br>
    <label>Priority:</label>
      <select name="piority" id="">
        <option value="High">High</option>
        <option value="Moderate">Moderate</option>
        <option value="Low">Low</option>
      </select>
      <br>
    <label>Difficulty</label>
      <input type="Number" name="difficulty">
  <br>
    <label>AsignUser-dropdown of allusers:</label>
      <select name="userId">
        <option></option>
      </select>
    <label>
      <br>
    <input type="submit" value="Add">
  </label>
  
</form>
</section>


<%- include('../partials/footer') %>