<%- include('../partials/header') %>

      
    <div class="card">
      <div class="card-header">
        <a href="/projects/<%= project._id %>/edit" class="btn btn-secondary">Edit</a>
           Priority: <%= project.priority %>
      </div>
      <div class="card-body">
        <h2 class="card-title text-center"><%= project.title %> </h2>
        <h6 class="card-text text-center">
          <%= project.description %> 
        </h6>
        
        <ul class="list-group">
          <li class="list-group-item">Manager: <%= project.projectManager.name %> </li>
          <li class="list-group-item">userCreated: <%= project.userCreated.name %> </li>
          <li class="list-group-item">type: <%= project.type %> </li>
          <li class="list-group-item">Team:
            <ul class="listgroup">
              <% project.usersAssigned.forEach(function(user) { %> 
                <li class="list-group-item"> <%= user.name %> - <%= user.email %> </li>

              <% }) %> 
            </ul>
          </li>
          <li class="list-group-item">Rocks:
            <ul>
              <% project.rocks.forEach(function(rock) { %> 
                <li class="list-group-item"> <%= rock.title %> </li>

              <% }) %> 
            </ul>
          </li>
        </ul>

        <div class="row row-cols-3 row-cols-md-3 g-4">
          <% rocks.forEach(function(rock) { %>
            <% if (user && user._id.equals(rock.userId) && project._id.equals(rock.projectId)) { %>    
              <div class="col">

                <div class="card h-100 text-center">
                  <div class="card-header">
                    <h5 class="card-title"><%= rock.title %></h5>
                  </div>
                  <div class="card-body">
                    <p class="card-text"><%= rock.description %> </p>
                    <div class="card-text"> Category: <%= rock.category %> </div>
                  </div>
                  <div class="card-footer">
                      <img alt="avatar" src="<%= rock.userAvatar %>" referrerpolicy="no-referrer">
                      <h6 class="card-text"> <%= rock.userName %> </h6>
                  </div>
                  <div class="card-footer text-muted">
                    Created by: <%= project.userCreated %> (change to 'userCreatedName') on <%= project.createdAt.toLocaleDateString() %> 
                  </div>
                </div>
              </div>
                  <!--  END OF ROCKScard -->
            <% }  %>
          <% }); %> 
          <!--END OF ROCKS for each -->
          </div>
        </div> 
        <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- START ROCKS CARD -->
          
          <% project.rocks.forEach(function(rockObj) { %> 
            <div class="col">
              <div class="card h-100" >
                <div class="card-body">
                  <h5 class="card-title"><%= rockObj.title %> </h5>
                  <p class="card-text"> <%= rockObj.description %> </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Category: <%= rockObj.category %> </li>
                  <li class="list-group-item">Priority: <%= rockObj.priority %> </li>
                  <li class="list-group-item">Diffuculty: <%= rockObj.difficulty %> </li>
                  <li class="list-group-item">Complete: <%= rockObj.complete %> </li>
                  <li class="list-group-item">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="<%= rockObj.progrss %> " aria-valuemin="0" aria-valuemax="0"><%= rockObj.progress %> </div>
                    </div>
                    Progress: <%= rockObj.progress %> </li>
                  <li class="list-group-item">
                  <li class="list-group-item">
                    <p class="list-text">Note: <%= rockObj.userNote %> </p>
                  </li>
                </ul>
                <div class="card-body">
                  <% if (user._id.equals(rockObj.userId)) {%> 
                    <p class="card-text">Assigned
                      <a href="/rocks/<%= rockObj.id %>/edit" class="card-link">edit</a>
                    </p>
                  <% } else {%>
                    <p class="card-text">Assigned to <%= rockObj.userName %> </p>
                    <% } %> 
                </div>
              </div>
            </div>
          <!-- END OF ROCKS CARD -->
          <% }) %> 
        </div> <!-- END row class at start of card-->
      </div>
      <!--  END OF CARDbody -->

      <div class="card newProject">
        <form id="form-add-rock" method="POST"
        action="/projects/<%= project._id%>/rocks">
        <input type="hidden" name="userId" value="<% user %> ">
        <h5 class="card-title text-center">Create New Rock</h5>
          <div class="row g-3">
            <div class="col-md">
              <div class="form-floating mb-3">
                <input name="title" type="text" class="form-control" id="floatingInput">
                <label for="floatingInput">Title</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select name="category" class="form-select" id="floatingSelectGrid">
                  <option selected> </option>
                  <%- rockCategories.map(s=>
                  `<option value="${s}">${s}</option>`
                  ).join('') %>
                </select>
                <label for="floatingSelectGrid">Choose Category: </label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <select name="priority" class="form-select" id="floatingSelectGrid">
                  <option selected> </option>
                  <%- rockPriorities.map(s=>
                  `<option value="${s}">${s}</option>`
                  ).join('') %>
                </select>
                <label for="floatingSelectGrid">Set Priority</label>
              </div>
            </div>
          </div><!-- END ROW-->
      
          <!-- START SECOND ROW -->
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md">
              <div class="form-floating">
                <select name="difficulty" class="form-select" id="floatingSelectGrid">
                  
                  <%- rangeTen.map(num=>
                  `<option value="${num}">${num}</option>`
                  ).join('') %>
                  
                </select>
                <label for="floatingSelectGrid">Set Difficulty Level</label>
              </div>
            </div>
 
      
          
      
          </div>
          <!-- END SECOND ROW -->
      
      <!-- START THIRD ROW -->
        <div class="row row-cols-1 row-cols-md-2 g-4">  
          <div class="mb-3">
            <label for="floatingTextarea2">Description:</label>
            <textarea name="description"   class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            
          </div>
          <div class="mb-3">
            <label for="floatingTextarea1">Notes:</label>
            <textarea name="userNote"  class="form-control" id="floatingTextarea1" style="height: 100px"></textarea>
            
          </div>
        </div>
      
      <!-- END THIRD ROW -->
      <!-- START FOURTH ROW -->
   
      
      <!-- END FOURTH ROW -->
      
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
      
          
        </form> <!-- END FORM(project-form)-->
      </div> <!-- END CARD (newProject) -->
    </div>
    <!-- END OF CARD -->






  <!-- END OF TEAM USERS ASSIGNED LIST -->

<!-- END OF SHOW-PAGE SECTION -->


<%- include('../partials/footer') %>